@charset "utf-8";

/************************************************
 共通設定
************************************************ */
/* コンテンツ */
#container {
    min-height: 700px; /*offcanvas対策 カテゴリ数が増えると増やさなくてはいけない？*/
}


/* ==============================================
 カラム指定
=============================================== */
.col-wrap {
    /*bs3 leftカラムとmainカラムの幅を調整する*/
    padding-left: 0;
    padding-right: 0;
}

/* メイン部
----------------------------------------------- */

#main_column {
    /*padding: 10px 0 0;*/
    padding-bottom: 40px; /*bs3*/
}

/* サイドカラム
----------------------------------------------- */
#leftcolumn {
    padding-bottom: 40px; /*bs3*/
}
#rightcolumn {
    padding-bottom: 40px; /*bs3*/
}

/* ==============================================
 ユーティリティ
=============================================== */
/* フォント
----------------------------------------------- */
h1,
h2 {
    font-size: 150%;
}
h3 {
    font-size: 125%;
}
h4,
h5 {
    font-size: 100%;
}
.sale_price {
    color: #d44950;
}
.normal_price {
    font-size: 90%;
}
.point {
    color: #d44950;
    font-weight: bold;
}
.user_name {
    font-weight: bold;
}
.recommend_level {
    color: #ecbd00;
}

.attention {
    color: #d44950;
}
.st {
    font-weight: bold;
}
.mini {
    font-size: 90%;
}

/* カラー
----------------------------------------------- */
.price {
    color: #d44950;
}

/* フォーム
----------------------------------------------- */
input,
select,
textarea {
    font-size: 16px !important;
}
label.col-xs-1,
label.col-sm-1,
label.col-md-1 {
    width: 1%;
}

/* タイトル
----------------------------------------------- */
h2.title {
    margin-top: 0;
    margin-bottom: 30px;
    padding: 5px 7px;
    border-left: 5px solid #eee;
}

/* ==============================================
 ヘッダー
=============================================== */
/* レイアウト
----------------------------------------------- */
#errorHeader {
    color: #d44950;
    font-weight: bold;
    font-size: 12px;
    background-color: #FEB;
    text-align: center;
    padding: 5px;
}

/* ヘッダーナビ
----------------------------------------------- */
/*for mobile*/
#mobile-nav .nav>li>a{
    padding-left: 0;
    padding-right: 0;
}
#mobile-nav .cart-total-quantity {
    position: absolute;
    top: 2%;
    left: 55%;
}

/* ==============================================
 フッター
=============================================== */
#footer_wrap {
}
#footer {
}
#pagetop {
}
#copyright {
}


/* ==============================================
 パーツ
=============================================== */
/* ボタン
----------------------------------------------- */
.btn_area {
    margin-top: 40px;
}

/* 完了メッセージ
----------------------------------------------- */
div#complete_area {
    margin-bottom: 20px;
}
div#complete_area .message,
div#undercolumn_entry .message {
    margin-bottom: 20px;
}

/************************************************
 for Font Awesome
************************************************ */
.fa-rotate-45 {
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.707,M12=0.707,M21=-0.707,M22=0.707,Dx=-2,Dy=8);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */
.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
    
.owl-carousel .owl-item{
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(../img/owl/grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/*
*   Owl Carousel Owl Demo Theme 
*   v1.3.3
*/

.owl-theme .owl-controls{
    margin-top: 10px;
    text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #869791;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
    min-height: 150px;
    background: url(../img/owl/AjaxLoader.gif) no-repeat center center
}
